/* Définition des polices */

@font-face {
font-family: "OpenDyslexic";
font-style: normal;
font-weight: normal;
src:url("OpenDyslexic-Regular.otf");
}
@font-face {
font-family: "OpenDyslexic";
font-style: normal;
font-weight: bold;
src:url("OpenDyslexic-Bold.otf");
}
@font-face {
font-family: "OpenDyslexic";
font-style: italic;
font-weight: normal;
src:url("OpenDyslexic-Italic.otf");
}

@font-face {
font-family: "OpenDyslexic";
font-style: italic;
font-weight: bold;
src:url("OpenDyslexic-BoldItalic.otf");
}

/* Corps de texte */

body {
font-family: "OpenDyslexic";
text-align: justify;
}


h1 {
text-align:center;
}

h2 {
text-align:center;
}

p {
text-align: justify;
}

img {
max-width: 100%;
}

/* Page de titre */

.qita_titre {
font-size: 2.8em;
font-weight: bold;
text-align:center;
}

.qita_auteur_title {
font-size: 1.4em;
text-align:center;
}

.qita_soustitre {
text-align:center;
}

.unnumbered {
text-align:center;
}

/* Page de licence */

.qita_scission {
margin:1em;
}

.qita_licence {
text-align: center;
}

.qita_info_licence1 {
text-align:justify;
}

.qita_info_licence2 {
text-align:center;
}

/* Légende générée automatiquement en double gênante pour navigation */

p.caption {
display: none;
}

/* Gestion des appels de note et des notes */

.footnoteRef {
vertical-align: super;
font-size: .83em;
text-decoration: none;
}

.footnotes {
margin-top: 5em;
margin-left: 1em;
}

.footnotes a{
text-decoration: none;
}

/* Ajustements visuels pour la liste des personnages */

#liste-des-personnages p{
margin-bottom: 1.5em;
}
